
*{  
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  margin-left: auto;
  margin-right: auto;
  width: 1600px;  
}

.first_screen {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/assets/bg-image.jpg);
  height: 744px;
  position: relative;
}

header {
  height: 95px;
  
}

header ul {
  display:flex;
  justify-content: center;
  align-items: center;
}

header ul img{
  display:block;
}

header ul li{
  margin: 25px 50px;
}

.header_link {
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  font-family: Roboto, sans-serif;
}

.current, .header_link:hover {
  text-decoration: underline;
}

.title {  
  color: #FFFFFF;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  letter-spacing: 4.5px;
  text-align: center;
  position: relative;
  top: 18%;
}

.content_first_screen {
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #FFFFFF;
  position: relative;
  text-align: center;
  top: 21%
}

.get_started {
  border: none;
  outline: none;
  width: 184px;
  height: 46px;
  background: #00AFDB;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 28%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.get_started:hover {
  background: #009CC2;
}

.social_icons:hover {
  background: #009CC2;
}




.second_screen {
  height: 842px;
}

@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto/Roboto-Regular.ttf);
}