
*{  
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  outline: none;
  width: 184px;
  height: 46px;
  background: #00AFDB;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

button:hover {
  background: #009CC2;
}

/* ------------------ 1 SCREEN----------------------------- */

body {
  margin-left: auto;
  margin-right: auto;
  width: 1600px;
}

.first_screen {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(assets/bg-image.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 744px;
  position: relative;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li{
  margin: 25px 50px;
}

.header_link {
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  font-family: Roboto, sans-serif;
}

.current, .header_link:hover {
  text-decoration: underline;
}

.title {  
  color: #FFFFFF;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  letter-spacing: 4.5px;
  text-align: center;
  position: relative;
  top: 17.5%;
}

.content_first_screen {  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #FFFFFF;
  position: relative;
  text-align: center;
  top: 20.5%
}

.get_started {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 27.5%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.socials_wrap {
  position: absolute;
  top: 86.5%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.socials {
  width: 170px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social_icons {
  width: 20px;
  height: 20px;
}

/* ------------------ 2 SCREEN----------------------------- */

.second_screen {
  height: 842px;
}

.second_screen_text_block {
  width: 407px;
  height: 233px;
  position: relative;
  top: 295px;
  left: 269px;
}

.second_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #373737;
}

.content_second_screen {
  position: relative;
  top: 21px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 149%;
  color: #4E4E4E;
}

.second_screen_button {
  position: relative;
  top: 50px;
}

.second_screen img {
  width: 407px;
  height: 582px;
  position: relative;
  top: -113px;
  left: 924px;
}

/* ------------------ 3 SCREEN----------------------------- */

.third_screen {
  height: 504px;
  background: #F5F6F7;
}

.third_screen_text_block {
  position: relative;
  top: 155px;
  left: 269px;
  width: 298px;
  height: 175px;  
}

.third_screen_text_block img {
  left: 127px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.third_title {
  
}

/* ------------------ 4 SCREEN----------------------------- */

.fourth_screen {
  height: 842px;
}

.fourth_screen img {
  width: 407px;
  height: 582px;
  position: relative;
  top: 120px;
  left: 269px;
}

.fourth_screen_text_block {
  width: 407px;
  height: 184px;
  position: relative;
  top: -267px;
  left: 814px;
}

.fourth_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;  
}

.content_fourth_screen {
  position: relative;
  top: 21px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 149%;
  color: #4E4E4E;
}

.fourth_screen_button {
  position: relative;
  top: 50px;
  width: 180px;
}

/* ------------------ 5 SCREEN----------------------------- */

/* ------------------ 6 SCREEN----------------------------- */

/* ------------------ FOOTER ----------------------------- */

@media (min-width: 1600px) {
  .first_screen {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .first_screen, .second_screen {
    width: 375px;
  }
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-Regular.ttf);
}